@use "./base.scss";

// setting up fonts
@font-face {
  font-family: drop;
  src: url("static/CamelotCaps.ttf");
}
div.center article > p:first-of-type(1):first-letter,
div.center article h1:nth-of-type(1) + p::first-letter,
div.center article h2:nth-of-type(1) + p::first-letter {
  float: left;
  line-height: 85%;
  width: 0.2em;
  font-family: "drop";
  font-size: 450%;
}
// center headings
h1,
.content-meta,
.tags {
  text-align: center;
}
// center images (for book notes)
p > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15rem;
}
// decorate headings
h1 {
  border-bottom: 0.5px solid #05386b;
}
.center p {
  text-align: justify;
}
.recent-notes h3 {
  font-size: 1rem;
}
.recent-notes > h3 {
  font-size: 1.5rem;
}

.recent-notes a:hover,
.center a:hover {
  font-size: 20px;
  transition: font-size 0.3s ease-in;
}

// fade in animation
@keyframes fade {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
div.recent-notes {
  animation: fade 1s linear forwards;
}
@keyframes fadee {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
// title animation
h1.page-title {
  animation: fadee 1.2s ease forwards;
  font-family: sub-heading;
}
// latex tables
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: auto;
  max-width: 100%;
  border-top: 2.27px solid black;
  border-bottom: 2.27px solid black;
  overflow-x: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
th,
td {
  border: 0 none !important;
  text-align: left;
  padding: 0.5rem;
  line-height: 1.1;
}
tr:hover,
td:hover {
  background-color: #cccccc;
}
// setting heading font
@font-face {
  font-family: headings;
  src: url("static/Oranienbaum.ttf");
}
div.center h1 {
  font-family: "headings";
  font-size: 3rem;
}
// setting subheading font
@font-face {
  font-family: sub-heading;
  src: url("static/Biko_Regular.otf");
}
div.center h2 {
  font-family: "sub-heading";
  transform: rotate(1deg);
}
// graph animation
div.graph h3 {
  animation: fadee 1.2s ease forwards;
}
// toc changeup
div.toc a[class=""] {
  opacity: 0.1;
}

//Bouncy heading
h1.article-title {
  animation: bounce 1s infinite ease;
  animation-play-state: paused;
  border-bottom: none;
}
h1.article-title:hover {
  animation-play-state: running;
  animation-delay: 1s;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
//content meta font
.content-meta {
  font-family: sub-heading;
}

//darkmode button bounce
div.darkmode {
  animation: bounce 1s ease;
  animation-delay: 3s;
}
