@use "./base.scss";

// setting up fonts
@font-face {
  font-family: drop;
  src: url("static/CamelotCaps.ttf");
}

article.popover-hint > h2.purpose + p:first-of-type::first-letter {
  float: left;
  line-height: 85%;
  width: 0.2em;
  font-family: "drop";
  font-size: 450%;
}
// center headings
h1,
.content-meta,
.tags {
  text-align: center;
}
// center images (for book notes)
p > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15rem;
}
// decorate headings
h1 {
  border-bottom: 0.5px solid #05386b;
}
.center p {
  text-align: justify;
}
.recent-notes h3 {
  font-size: 1rem;
}
.recent-notes > h3 {
  font-size: 1.5rem;
}

.recent-notes a:hover,
.center a:hover {
  font-size: 20px;
  transition: font-size 0.3s ease-in;
}

// fade in animation
@keyframes fade {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
div.recent-notes {
  animation: fade 1s linear forwards;
}
@keyframes fadee {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
// title animation
h1.page-title {
  animation: fadee 1.2s ease forwards;
}
// latex tables
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: auto;
  max-width: 100%;
  border-top: 2.27px solid black;
  border-bottom: 2.27px solid black;
  overflow-x: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
th,
td {
  border: 0 none !important;
  text-align: left;
  padding: 0.5rem;
  line-height: 1.1;
}
tr:hover,
td:hover {
  background-color: #cccccc;
}

@font-face {
  font-family: headings;
  src: url("static/Fontspring-DEMO-juana-regular.otf");
}
div.center h1 {
  font-family: "headings";
  font-size: 3rem;
}
h1.page-title {
  font-family: "headings";
}
